.result-main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.date-result {
    background-color: var(--container-color);
    color: var(--font-color);
    width: 100%;
    height: 80%;
    border-radius: 25px;
}

#sol-data-container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


