.result-main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.date-result {
  position: relative;
  background-color: var(--container-color);
  color: var(--font-color);
  width: 100%;
  height: fit-content;
  border-radius: 25px;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.date-result h1 {
  color: var(--accent-font-color);
  margin: 2.5rem 0 0 4rem;
}

.result-header {
  color: var(--accent-font-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1.5rem;
  margin-left: 4rem;
}

.result-header h3 {
  font-size: 2rem;
  padding: 2rem 0 0.5rem 0;
}

.date-result span {
  font-size: 1.5rem;
  color: var(--font-color);
}

#sol-data-container {
  width: 100%;
  height: auto;
}

.weather-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
}

.weather-info h2 {
  color: var(--accent-font-color);
  font-size: 2.4rem;
  padding-top: 4rem;
}

.weather-stats-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2px 1fr 2px 1fr 2px 1fr 2px;
  gap: 2rem;
}

.weather-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.separator {
  width: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.result-conclusion {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.result-conclusion h3 {
  color: var(--accent-font-color);
  font-size: 2rem;
}

.result-conclusion a {
  text-decoration: underline;
  color: var(--accent-font-color);
}

.result-conclusion a h3 {
  font-size: 1.2rem;
}

.result-conclusion a:hover {
  scale: 1.1;
  transition: all 0.3s ease-in-out;
}

.result-mocking-link {
  text-align: center;
}

.result-mocking-link a {
  color: var(--accent-font-color);
  font-size: 1.8rem;
  margin-bottom: 2rem;
  text-decoration: underline;
}

.result-mocking-link h3:hover {
  scale: 1.1;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {

  .result-header {
    padding: 0 1rem 0 1rem;
    margin: 2rem 0 2rem 0;
  }

  .result-header h3 {
    padding: 1.5rem 0 0.2rem 0;
    font-size: 1.3rem;
  }

  .result-header span {
    font-size: 1.1rem;
  }

  .weather-info h2 {
    font-size: 1.5rem;
    padding: 1.5rem 0.5rem 1.5rem 0.5rem;
  }

  .weather-stats-wrapper {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .separator {
    display: none;
  }

  .result-conclusion p {
    padding: 0 1rem 0 1rem;
  }
}