.earth-images {
    background-color: var(--container-color);
    border-radius: 25px;
    margin: 5rem 0 5rem 0;
    padding: 2rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 10rem 10rem 10rem 10rem 10rem;
    gap: 5rem;
}

.earth-images img {
    display: block;
    width: 10rem;
    height: auto;
}